
        * {
          margin: 0;
          padding: 0;
      }
      body {
        /* background-image: url('../docs/himal.jpg'); */
 transform: scale(1.1);
 transform-origin: 0 0;
 font-size:3vw;
 background-color:lightsteelblue;text-align:center"
      }

.imgbox {
  display: grid;
  height: 100%;
  align-content: centre;
  bottom: 30px;
}

.column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
div.fixed {
  position: fixed;
  bottom: 200;
  left: 100;
  width: 300px;
  border: 3px solid #73AD21;

}
*{
  margin: 0;
  padding: 0;
}
.container {
  display: inline-flex;
  font-weight: bold;
  /* vertical-align: top; */
  width: 600px;
  height: 650px;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;;
}

.image {
  background: hotpink;
  flex: 1;
  
}


/* dfsafadsa */
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}nav {
  white-space: nowrap;
  background: #37474F;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
